body {
    font-family: "Roboto", sans-serif;
}

.bg-imgs {
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 2;
}

.bg-imgs img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
}

.wrapper-of-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 3;
}

.container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: minmax(100px, auto) auto auto;
    grid-template-areas: "header"
                         "main"
                         "aside";
    gap: 15px;
}

.header, .main, .aside {
    background-color: var(--light-color);
    border-radius: var(--main-border-radius);
}

.header {
    grid-area: header;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
    padding: var(--els-padding);
}

.div-search-location {

}

.search-location {
    position: relative;
}

.search-location::before {
    content: "";
    position: absolute;
    top: 0;
    right: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../icons/magnifyind-glass.svg);
    background-repeat: no-repeat;
    background-position: right;
    pointer-events: none;
}

.input-search-location {
    height: 50px;
    width: 290px;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: var(--main-border-radius);
    font-size: clamp(18px, 1.3vw, 24px);
    font-weight: var(--accent-font-weight);
    padding: 10px;
}

.input-search-location::placeholder {
    font-weight: var(--accent-font-weight);
    color: var(--light-color);
}

.hints-for-location {

}

.div-toggle-c-or-f {
    
}

.toggle-c-or-f {
    background: linear-gradient(90deg, var(--accent-2-color), var(--accent-1-color));
    font-size: 32px;
    color: var(--dark-color);
    padding: var(--els-padding);
    border-radius: var(--main-border-radius);
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.toggle-c-or-f::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 40px;
    height: 40px;
    transform: translate(5px, -50%);
    background-color: var(--light-color);
    border-radius: 50%;
    z-index: -1;
    transition: transform var(--main-transition);
}

.toggle-c-or-f.f::before {
    transform: translate(calc(100% + 5px), -50%);
}

.toggle-c-or-f.f .°C {
    color: var(--light-color);
}

.toggle-c-or-f .°F {
    color: var(--light-color);
}

.toggle-c-or-f.f .°F {
    color: var(--dark-color);
}

.div-logo {
    background: linear-gradient(90deg, var(--accent-2-color), var(--accent-1-color));
    color: var(--light-color);
    padding: var(--els-padding);
    border-radius: var(--main-border-radius);
}

.main {
    grid-area: main;
}

.main-weather {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0 var(--main-border-radius) 0 0;
}

.main-weather::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: linear-gradient(to top, var(--accent-2-color), #73C0FF60);
    pointer-events: none;
    transform: rotate(30deg) translateY(150px);
    filter: blur(10px);
}

.main-weather::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom, var(--accent-2-color), #73C0FF60);
    pointer-events: none;
    transform: rotate(30deg) translateY(-150px);
    filter: blur(10px);
}

.main-weather-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: var(--main-padding);
}

.main-weather-today {
    font-size: clamp(18px, 1.4vw, 32px);
}

.main-current-location {
    font-size: clamp(20px, 1.6vw, 42px);
    font-weight: 400;
}

.main-current-weather-decs {
    font-size: clamp(32px, 2.2vw, 56px);
    text-align: center;
}

.main-current-weather-decs::first-letter {
    background: linear-gradient(90deg, var(--accent-2-color), var(--accent-1-color));
    border-radius: var(--main-border-radius);
    font-size: clamp(36px, 2.7vw, 64px);
}

.main-current-weather-deg {
    font-size: clamp(36px, 3.3vw, 72px);
}

.main-current-weather-fel-deg {
    font-size: clamp(18px, 1.35vw, 36px);
    color: var(--accent-3-color);
    font-weight: 400;
}

hr {
    border: 2px solid var(--dark-color);
}

.extra-weather {

}

.extra-weather-wrapper {
    width: 100%;
    padding: var(--els-padding);
}

.extra-weather-main-decs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.extra-current-humidity, .extra-current-spd-wnd, .extra-current-drct-wnd {
    font-size: clamp(18px, 1.3vw, 28px);
    font-weight: var(--accent-font-weight);
    color: var(--dark-color);
}

.extra-current-humidity-id, .extra-current-spd-wnd-id, .extra-current-drct-wnd-id {
    color: var(--accent-3-color);
}

.extra-weather-extra-decs {
    display: flex;
    justify-content: center;
    padding: var(--els-padding);
}

.sunrice-and-sunset {
    font-size: clamp(18px, 1.3vw, 28px);
    font-weight: var(--accent-font-weight);
    color: var(--dark-color);
}

.sunrice-id, .sunset-id {
    color: var(--accent-3-color);
}

.aside {
    grid-area: aside;
}

.future-weather {
    width: 100%;
    padding: var(--els-padding);
}

.title-next-days {
    margin-bottom: 10px;
}

.next-days {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-next-days {
    width: 100%;
    position: relative;
    z-index: 1;
}

.next-day {
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: var(--main-border-radius);
    padding: var(--els-padding);
    margin-bottom: 10px;
    position: relative;
}

.next-day::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    background: linear-gradient(90deg, var(--accent-2-color), var(--accent-1-color));
    transform: translate(-50%, -50%);
    border-radius: var(--main-border-radius);
    z-index: -1;
}

.icon-next-day {
    font-size: 28px;
}

.bg-loading {
    display: none;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(0.1);
    z-index: 3;
}

.bg-loading.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.state-loading-text {
    color: var(--light-color);
    font-size: clamp(32px, 2.6vw, 64px);
    font-weight: bold;
    animation: show-load 0.4s ease 1 0.15s forwards;
}

@keyframes show-load {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@media (min-width: 768px) {

}


@media (min-width: 1260px) {
    .container {
        grid-template-columns: 900px 300px;
        grid-template-rows: 100px 500px;
        grid-template-areas: "header aside"
                            "main aside";
        gap: 30px;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }
}