body {
    background-color: red;
}

.wrapper-of-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    grid-template-columns: 900px 300px;
    grid-template-rows: 100px 550px;
    grid-template-areas: "header aside"
                         "main aside";
    gap: 30px;
}

.header {
    grid-area: header;
    background-color: greenyellow;
}

.main {
    grid-area: main;
    background-color: rgb(133, 72, 255);
}

.aside {
    grid-area: aside;
    background-color: rgb(109, 255, 219);
}