:root {
    --light-color: #F6F6F6;
    --dark-color: #222222;
    --dark-opacity-color: #22222240;
    --accent-1-color: #73C0FF;
    --accent-2-color: #7474FF;
    --accent-3-color: #6F6F6F;
    --main-border-radius: 30px;
    --accent-font-weight: bold;
    --main-padding: 30px;
    --els-padding: 10px;
}